<h1>Editing club</h1>

<%= render "form", club: @club %>

<br>

<div>
  <%= button_to "Show this club", @club, method: :get, class: "btn btn-primary m-1" %> |
  <%= button_to "Back to clubs", clubs_path, method: :get, class: "btn btn-primary m-1" %>
</div>
