<p style="color: green"><%= notice %></p>

<h1><u>Clubs</u></h1>
<div class="text-center">
<div id="clubs">
  <% @clubs.each do |club| %>
    <%= render club %>
    <p>
      <%= button_to "Show this club", club, method: :get, class: "btn btn-primary m-1" %>
    </p>
  <% end %>
</div>

<%= button_to "New club", new_club_path, method: :get, class: "btn btn-success m-1" %>
</div>