<p style="color: green"><%= notice %></p>

<h1>Clubs</h1>

<div id="clubs">
  <% @clubs.each do |club| %>
    <%= render club %>
    <p>
      <%= button_to "Show this club", club, method: :get, class: "btn btn-primary m-1" %>
    </p>
  <% end %>
</div>

<%= button_to "New club", new_club_path, method: :get, class: "btn btn-primary m-1" %>
