<p style="color: green"><%= notice %></p>



<h1><u>Students</u></h1>
<div class="text-center">
<div id="students">
  <% @students.each do |student| %>
    <%= render student %>
    <p>
      <%= button_to "Show this student", student, method: :get, class: "btn btn-primary m-1" %>
    </p>
  <% end %>
</div>

<%= button_to "New student", new_student_path, method: :get, class: "btn btn-success m-1" %>
</div>