<p style="color: green"><%= notice %></p>

<h1>Students</h1>
<h4 class="text-center">This student controller allow us to create, edit, show, and destroy students in the data base.</h4>
<div id="students">
  <% @students.each do |student| %>
    <%= render student %>
    <p>
      <%= button_to "Show this student", student, method: :get, class: "btn btn-primary m-1" %>
    </p>
  <% end %>
</div>

<%= button_to "New student", new_student_path, method: :get, class: "btn btn-success m-1" %>
