<h1>New event</h1>
<div class="text-center">
<%= render "form", event: @event %>

<br>

<div>
  <%= button_to "Back to events", events_path , method: :get, class: "btn btn-secondary m-1" %>
</div>
</div>