<div id="<%= dom_id teacher %>">
  <p>
    <strong>Name:</strong>
    <%= teacher.name %>
  </p> 
  <strong>Students:</strong>
  <% teacher.students.each do |s| %>
    <p>
      <%= link_to s.name, student_path(id:s.id) %>
    </p>
  <%end%>

</div>
