<h1>New teacher</h1>
<div class="text-center">
<%= render "form", teacher: @teacher %>

<br>

<div>
  <%= button_to "Back to teachers", teachers_path, method: :get, class: "btn btn-secondary m-1" %>
</div>
</div>