<div class="container-fluid">
  <h1>Web Development - Rails</h1>
  <%= image_tag ("code-logo.png"), class:'mx-auto my-5 d-block' %>
  <main>

  </main> 
  <% if !user_signed_in? %>
  <div class="text-center">
    <%= link_to "Sign-Up", new_user_registration_path, class: 'btn btn-primary' %>
  </div> 
  <% end %>
</div>
