<div class="container-fluid">
  <h1>Web Development - Rails</h1>
  <main>
  Welcome to the exciting world of web development! 
  Today, we're diving into the magic of creating your own digital universe. 
  Imagine crafting interactive blogs, dynamic photo galleries, or even 
  personalized to-do lists! In this Rails app, we'll explore the building
  blocks like models and associations that make it all possible. Get ready
  to embark on a coding adventure—check out some examples 
  <%= link_to 'here', 'https://weirdorconfusing.com/' %> and 
  <%= link_to 'here', 'https://maze.toys/mazes/mini/daily/' %>! 💻✨
  </main>
  <div class="text-center">
    <%= link_to "Sign-Up", new_user_registration_path, class: 'btn btn-primary' %>
  </div>
</div>
