<h1>One-to-Many</h1>

<div>
  <h2>Clubs</h2>
  <table class="table table-bordered">
    <caption>List of users</caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">E-Mail</th>
      </tr>
    </thead>
    <tbody>
      <% for user in @users.length.times do %>
        <tr>
          <th scope="row"><%= user+1 %></th>
          <td> <%=@users[user].name%></td>
          <td> <%=@users[user].email%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>